.blog-list-item .tags {
  display: flex;
  gap: 1rem;
}
.blog-list-item .tag {
  border-radius: 3px;
  padding: 5px 10px;
  height: 32px;
  font-size: 13px;
  border-radius: 0.1rem;
  background-color: var(--tag-bg);
  color: var(--tag-color);
}

.blog-list {
  max-width: 730px;
}

.blog-list .below-post {
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
