

.blog {
  max-width: 730px;
}
.blog .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .author > div {
  flex-grow: 1;
  display: flex;
}
.blog .author span {
  padding-left: 0.5rem;
}

.blog .below-post {
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.blog .author .twitter-follow-button-parent {
  flex-shrink: 1;
  flex-grow: 0;
}
.blog .author .twitter-follow-button {
  background-color: #1DA1F2 ;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.blog .tags {
  display: flex;
  gap: 1rem;
}
.blog .tags div {
  border-radius: 3px;
  padding: 5px 10px;
  height: 32px;
  font-size: 13px;
  border-radius: 0.1rem;
  background-color: var(--tag-bg);
  color: var(--tag-color);
}


.blogContent {
  padding-bottom: 3rem;
}
